{% load static %}
<body >
  <div style="display: grid; ">
    <table
      class="top-content"
      style="padding: 40px 0; border-bottom: solid 1px #00000033; min-width: 50%; width: fit-content; margin: auto;"
    >
      <tr style="text-align: center">
        <th
          style="
            font-family: 'Inter', sans-serif;
            font-weight: 700;
            font-size: 48px;
            line-height: 58.09px;
          "
        >
          Bharat <br />Chemicals
        </th>
      </tr>
      <tr style="text-align: center">
        <td
          style="
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 16px;
            padding-top: 22px;
            line-height: 24px;
          "
        >
          Dear {{supplier_name}},<br />We have a new requirement for {{total_no_of_items}} items. Please
          provide your best quotes.
        </td>
      </tr>
    </table>

  <table
    class="middle-content"
    style="padding-top: 51px; padding-bottom: 43px; text-align: center"
  >
    <tr
      style="
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      "
    >
      <td>RFQ ID #{{rfq_id}}</td>
    </tr>
  </table>
  <table
    class="main-table-content"
    style="border-spacing: 0; border: solid 1px #0000001a; border-radius: 12px; min-width: 50%; width: fit-content; margin: auto;"
  >
    <tr class="heading" style="background: #00000005">
      <th
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #00000080;
        "
      >
        Sl no.
      </th>
      <th
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #00000080;
        "
      >
        Product
      </th>
      <th
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #00000080;
        "
      >
        Quantity
      </th>
      <th
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #00000080;
        "
      >
        Specifications
      </th>
      <th
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          text-align: left;
          color: #00000080;
        "
      >
        Expected delivery
      </th>
    </tr>
    {% for item in items %}
    <tr>
      <td
        style="
          font-weight: 700;
          padding: 16px;
          font-family: Lato;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0em;
        "
      >
        1
      </td>
      <td
        style="
          font-weight: 600;
          padding: 16px;
          font-family: Lato;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0em;
        "
      >
      {{item.product_name}}
      </td>
      <td
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
        "
      >
      {{item.quantity}}<br />{{item.uom}}
      </td>
      <td
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
        "
      >
      {{item.specifications}}
      </td>
      <td
        style="
          padding: 16px;
          font-family: Lato;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
        "
      >
        <div
          class="delivery_date"
          style="display: flex; align-items: center; gap: 8px"
        >
          <img
            alt="calendar"
            src="./images/calendar.svg"
            height="20"
            width="20"
          />
          {{item.expected_delivery_date}}
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
  <table
    class="bottom-content"
    style="
      padding-top: 32px;
      text-align: center;
      padding-bottom: 62px;
      border-bottom: solid 1px #00000033;
    "
  >
    <tr>
      <td>
        <div class="main">
          <p
            style="
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 19px;
            "
          >
            Please click here to quote your best prices.
          </p>
          <a href={{url}} target="_blank"
            ><button
              style="
                padding: 12px 16px 12px 16px;
                border-radius: 8px;
                border: 1px;
                background-color: #000000;
                font-family: Lato;
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: center;
                color: white;
                width: 298px;
                height: 56px;
                cursor: pointer;
              "
            >
              Click To Quote
            </button></a
          >
          <div class="footer" style="margin-top: 60px">
            <p
              style="
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
                color: #333333;
              "
            >
              Thank You,
            </p>
            <span
              style="
                font-family: Lato;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: center;
                color: #333333;
              "
              >{{supplier_name}}</span
            >
          </div>
        </div>
      </td>
    </tr>
  </table>
  <table class="footer-content" style="text-align: center; padding-top: 76px">
    <tr>
      <td>
        <div class="main">
          <p
            style="
              font-family: Lato;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              margin: 0;
              color: #333333;
            "
          >
            Powered By VMS
          </p>
          <div
            class="icons"
            style="
              padding: 16px;
              display: grid;
              grid-template-columns: auto auto auto;
              width: fit-content;
              gap: 24px;
              margin: auto;
            "
          >
            <img
              alt="twitter"
              src="./images/twitter.svg"
              height="24"
              width="24"
            />
            <img
              alt="facebook"
              src="./images/facebook.svg"
              height="24"
              width="24"
            /><img
              alt="linkedin"
              src="./images/linkedin.svg"
              height="24"
              width="24"
            />
          </div>
          <p
            class="copyright"
            style="
              font-family: Inter;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: 0em;
              margin: 0;
              color: #00000080;
              text-align: center;
            "
          >
            Copyright © 2024 VMS Inc.<br />
            A better company begins with a personalised vendor management
            experience.
          </p>
        </div>
      </td>
    </tr>
  </table>
</div>
</body>
